@import "variables";
@import "mixins";

.button,
.button-outline,
.button-filled {
  color: $font-color;
  font-family: $main-font;
  cursor: pointer;
  outline: none;
  transition: color 250ms;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.previous:hover {
  background-color: $accent-color;
  cursor: pointer;
  color: black;
}

.next:hover {
  background-color: $accent-color;
  cursor: pointer;
  color: white;
}

.round {
  border-radius: 50%;
  background-color: $main-color;
}

.button-download-resume {
  display: flex;
  position: relative;
}