@import "variables";
@import "mixins";

.button,
.button-outline,
.button-filled {
  color: $font-color;
  font-family: $main-font;
  font-size: $font-size-lg;
  cursor: pointer;
  outline: none;
  transition: color 250ms;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.button-outline {
  @include button-setup(transparent, 7px, 10px, 5px, $font-color, 10px);
  transition: border-color 250ms;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.round {
  border-radius: 50%;
  background-color: $main-color;
}

.button-download-resume {
  display: grid;
  align-self: center;
  justify-content: center;
}

.resume-button-icon {
  align-self: center;
}

.resume-text {
  grid-column: 2 / 2;
  align-self: center;
  padding-left: 0.4em;
}

.social-media-links {
  align-self: center;
}

.social-media-icon {
  font-size: $font-size-xl;
}

.social-media-icon-lndscp{
  display: none;
}